//Import of Roboto font, regular, italic and bold
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

//Color Variables
$button-primary: #E3170A;
$button-secondary: #8ACFE5;

//Placeholders for buttons
%button{
    width: 15rem;
    height: 3rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    margin: 2em auto 0 auto;
    display: block;
}
%primary-on-white{
    @extend %button;
    background: $button-primary;
    color: white;
}
%secondary-on-white{
    @extend %button;
    background: #8ACFE5;
    color: black;
}
%primary-on-dark{
    @extend %button;
    background: transparent;
    border:1px solid #8ACFE5;
    color: #8ACFE5;
}
%secondary-on-mobile{
    @extend %button;
    color: #36769D;
    text-decoration: underline;
    background-color: transparent;
}
%section-dark{
    background: #011827;
    color:white;
}
@mixin book-and-browse-box{
    div{
        h2{
            margin: 1rem 1rem;
        }
        p{
            margin: 1rem 1rem;
            font-size: 1.2em;
        }
        button{
            margin: 2rem 1rem;
        }
    }
}
//Wipes default margins in browser
*{
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    img{
        width: 100vw;
    }
}
.button__primary--on-white{
    @extend %primary-on-white;
}
.button__secondary--on-white{
    @extend %secondary-on-white;
    display: block;
}
.button__secondary--on-mobile{
    @extend %secondary-on-mobile;
    display: block;
}
@media only screen and (min-width: 768px){
    .button__secondary--on-mobile{
        text-decoration: none;
    }
}
.button__primary--on-dark{
    @extend %primary-on-dark;
}
header{
    @extend %section-dark;
    width: 100vw;
    display: flex;
    box-sizing: border-box;
    padding: 1.5rem;
    padding-right: 0;
    img{
        height: 4.5rem;
        width: 6.5rem;
    }
    h1{
        padding-left: 0.5rem;
        display: inline-block;
        font-size: 1.2rem;
        width: 5rem;
    }
    .mobile__burger-menu{
        @extend %section-dark;
        font-size: 2.5em;
        position: absolute;
        right: 0;
        top: 0;
        height: 2em;
        width: 1.75em;
        border: none;
    }
}
//Removes burger menu from view on larger screens
@media only screen and (min-width:940px){
    .mobile__burger-menu{
        display: none;
    }
    header{
        h1{
            font-size: 2em;
            width: 100%;
            align-self: flex-end;
        }
    }
}
nav{
    @extend %section-dark;
    padding: 1em 0;
    box-sizing: border-box;
    width: 100vw;
    ul{
        display: flex;
        justify-content: center;
    }
    li{
        margin: 0 4rem;
        display: inline;
        font-weight: bold;
        font-size: 1.25rem;
        list-style: none; 
        color:white;
    }
    li:hover{
        color:#8ACFE5;
    }
}
// Toggles nav bar depending on screen size
@media only screen and (max-width: 940px) {
  nav{
        display: none;
  }
}
@media only screen and (min-width: 940px) {
    nav{
            display: block;
        }
}

// Adjusts landing image fill on larger screens 
@media only screen and (min-width: 769px) {

    #landing__container{
        max-height: 30rem;
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .button__wrapper{
           display: flex;
           justify-content: center;
           flex-direction: row-reverse;
            transform: translateY(-50%);

        .button__primary--on-white{
            background-color: $button-primary;
            color:white;
            text-decoration: none;
            font-size: 1rem;
            margin: 0 0.75rem 0 0;
        }
        .button__secondary--on-white{
            margin: 0;
        }
    }
}
@media only screen and (max-width:768px) {
    .button__wrapper{
        .button__primary--on-white{
            margin: 0 auto;
            background-color: transparent;
            text-decoration: underline;
            color: #36769D;
            font-size: 0.75em;
        }
    }
}
.review__container{
    padding-top: 1rem;
    display: flex;
    justify-content: center;

    .review__card{
        display: flex;
        justify-content: flex-end;
        padding: 0 1rem;
        
        img{
            max-width: 15%;
            padding-right: 1em;
            align-self: flex-start;
        }
        blockquote{
            max-width: 65%;
            padding-right: 2em;
            font-size: 1.2rem;
            span{
                font-size: 0.85rem;
            }
        }
    }
    .review__card2{
        @extend .review__card;
        display: none;
    }

}
@media only screen and (max-width: 800px){
    .review__card2{
      display: none;
    }
}

@media only screen and (min-width: 800px){
   .review__container{
    width: auto;
   }
    .review__card2, .review__card{
        display: flex;
        width: 50%;
    }
}
 .popular{
    h2{
    font-weight: 400;
    margin: 4rem auto 0 auto;
    text-align: center;

    }
    .popular__card__container{
        display: flex;
        align-content: space-between;
        overflow:scroll;
        padding: 30px 15px;
    }
    .popular__card{
        flex-grow: 1;
        flex-shrink: 1;
        min-width: 75vw;
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgb(206, 206, 206);
        margin: 0 15px;
        overflow: hidden;
        img{
            width: 100%;
        }
        .popular__card__room-title{
            font-weight: normal;
            font-size: 1.5em;
            margin-left: 1rem;
            margin-top: 0.5rem;
        }
        .popular__card__room-rating{
            color: #E3170A;
            margin-left: 1rem;
            font-size: 0.75rem;
        }
        .popular__card__room-description{
            margin: 1rem;
            font-size: 0.95rem;
            width: 90%;
        }
        button{
            margin: 1rem;
            float: right;
            width: 55%;
            height: 2.5;
        }
    }
    .button__secondary--on-mobile{
        margin-bottom: 2em;
        margin-top: 0;
    }
}
@media only screen and (min-width:900px){
    .popular{
        h2{
            font-size: 2rem;
            margin-bottom: 2rem;
        }
        .popular__card{
            width: 75vw;
            min-width: 0;
        }
        .participants{
            float: right;
            margin-right: 1em;
        }
    }
}
@media only screen and (min-width:769px){
    .popular{
        .button__wrapper{
        margin: 4em auto 4em auto;
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;

        .button__secondary--on-mobile{
            margin: 0;
            background-color: $button-primary;
            color: white; 
            margin: 0 0.75rem 0 0;
        }
        }
    }   
}
.about-us{
    @extend %section-dark;
    padding: 4rem 2rem 2rem 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;

    button{
        display: block;
        margin: 2rem auto;
        font-weight: bold;
        font-size: 1.1rem;
    }
    p{
        text-align: center;
        margin: 1rem auto;
    }
}
@media only screen and (min-width: 900px){
    .about-us{
        padding-bottom: 4em;
        padding-top: 4em;
        p{
            width: 50%;
            font-size: 1.2em;
        }
    }
}
.browse-challenges, .book-on-site{
   @include book-and-browse-box;
   margin-bottom: 1rem;
}
.browse-challenges{
    margin-bottom: 2rem;
}
footer{
    padding: 2rem 0 2.5rem 0;
    @extend %section-dark;
    h4{
        margin: 1rem 0 0.5rem 1em;
    }
    p{
        margin-left: 1rem;
        margin-bottom: 2rem;
        font-size: .9em;
    }
    a{
        margin-left: 1rem;
        display: block;
        text-decoration: none;
        color: white;
    }
}

@media only screen and (min-width: 807px) {
    .book-on-site{
        display: flex;
        img{
            width: 50%;
            height: 100%;
        }
        margin-bottom: 0;
       
    }
    .browse-challenges{
        display: flex;
        flex-direction: row-reverse;
        img{
            width: 50%;
            height: 100%;
        }
      
    }
}
@media only screen and (min-width:768px){
    footer{
        display: flex;
        justify-content: space-evenly;
        .about-us--small{
            width: 50%;
            margin: 0 auto;
            p{
                width: 80%
            }
        }
        .site-map, .social-media{
            width: 25%
        }
    }
}