@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
.button__secondary--on-mobile, .button__primary--on-dark, .button__secondary--on-white, .button__primary--on-white {
  width: 15rem;
  height: 3rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  margin: 2em auto 0 auto;
  display: block;
}

.button__primary--on-white {
  background: #E3170A;
  color: white;
}

.button__secondary--on-white {
  background: #8ACFE5;
  color: black;
}

.button__primary--on-dark {
  background: transparent;
  border: 1px solid #8ACFE5;
  color: #8ACFE5;
}

.button__secondary--on-mobile {
  color: #36769D;
  text-decoration: underline;
  background-color: transparent;
}

footer, .about-us, nav, header .mobile__burger-menu, header {
  background: #011827;
  color: white;
}

* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}
body img {
  width: 100vw;
}

.button__secondary--on-white {
  display: block;
}

.button__secondary--on-mobile {
  display: block;
}

@media only screen and (min-width: 768px) {
  .button__secondary--on-mobile {
    text-decoration: none;
  }
}
header {
  width: 100vw;
  display: flex;
  box-sizing: border-box;
  padding: 1.5rem;
  padding-right: 0;
}
header img {
  height: 4.5rem;
  width: 6.5rem;
}
header h1 {
  padding-left: 0.5rem;
  display: inline-block;
  font-size: 1.2rem;
  width: 5rem;
}
header .mobile__burger-menu {
  font-size: 2.5em;
  position: absolute;
  right: 0;
  top: 0;
  height: 2em;
  width: 1.75em;
  border: none;
}

@media only screen and (min-width: 768px) {
  .mobile__burger-menu {
    display: none;
  }
  header h1 {
    font-size: 2em;
    width: 100%;
    align-self: flex-end;
  }
}
nav {
  padding: 1em 0;
  box-sizing: border-box;
  width: 100vw;
}
nav ul {
  display: flex;
  justify-content: center;
}
nav li {
  margin: 0 4rem;
  display: inline;
  font-weight: bold;
  font-size: 1.25rem;
  list-style: none;
  color: white;
}
nav li:hover {
  color: #8ACFE5;
}

@media only screen and (max-width: 768px) {
  nav {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  nav {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  #landing__container {
    height: 30rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button__wrapper {
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
  }
  .button__wrapper .button__primary--on-white {
    background-color: #E3170A;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin: 0 0.75rem 0 0;
  }
  .button__wrapper .button__secondary--on-white {
    margin: 0;
  }
}
@media only screen and (max-width: 768px) {
  .button__wrapper .button__primary--on-white {
    margin: 0 auto;
    background-color: transparent;
    text-decoration: underline;
    color: #36769D;
    font-size: 0.75em;
  }
}
.review__container {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}
.review__container .review__card, .review__container .review__card2 {
  display: flex;
  justify-content: flex-end;
  padding: 0 1rem;
}
.review__container .review__card img, .review__container .review__card2 img {
  max-width: 15%;
  padding-right: 1em;
  align-self: flex-start;
}
.review__container .review__card blockquote, .review__container .review__card2 blockquote {
  max-width: 65%;
  padding-right: 2em;
  font-size: 1.2rem;
}
.review__container .review__card blockquote span, .review__container .review__card2 blockquote span {
  font-size: 0.85rem;
}
.review__container .review__card2 {
  display: none;
}

@media only screen and (min-width: 768px) {
  .review__card2 {
    display: flex;
  }
}
.popular h2 {
  font-weight: 400;
  margin: 4rem auto 0 auto;
  text-align: center;
}
.popular .popular__card__container {
  display: flex;
  align-content: space-between;
  overflow: scroll;
  padding: 30px 15px;
}
.popular .popular__card {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 75vw;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgb(206, 206, 206);
  margin: 0 15px;
  overflow: hidden;
}
.popular .popular__card img {
  width: 100%;
}
.popular .popular__card .popular__card__room-title {
  font-weight: normal;
  font-size: 1.5em;
  margin-left: 1rem;
  margin-top: 0.5rem;
}
.popular .popular__card .popular__card__room-rating {
  color: #E3170A;
  margin-left: 1rem;
  font-size: 0.75rem;
}
.popular .popular__card .popular__card__room-description {
  margin: 1rem;
  font-size: 0.95rem;
}
.popular .popular__card button {
  margin: 1rem;
  float: right;
  width: 50%;
}
.popular .button__secondary--on-mobile {
  margin-bottom: 2em;
  margin-top: 0;
}

@media only screen and (min-width: 768px) {
  .popular h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .popular .popular__card {
    width: 75vw;
    min-width: 0;
  }
  .popular .participants {
    float: right;
    margin-right: 1em;
  }
  .popular .button__wrapper {
    margin: 4em auto;
    display: flex;
    transform: translate(0%, 0%);
    justify-content: center;
    flex-direction: row-reverse;
  }
  .popular .button__wrapper .button__secondary--on-mobile {
    margin: 0;
    background-color: #E3170A;
    color: white;
    margin: 0 0.75rem 0 0;
  }
}
.about-us {
  padding: 4rem 0rem 2rem 0rem;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}
.about-us button {
  display: block;
  margin: 2rem auto;
  font-weight: bold;
  font-size: 1.1rem;
}

.browse-challenges, .book-on-site {
  margin-bottom: 1rem;
}
.browse-challenges div h2, .book-on-site div h2 {
  margin: 1rem 1rem;
}
.browse-challenges div p, .book-on-site div p {
  margin: 1rem 1rem;
  font-size: 1.2em;
}
.browse-challenges div button, .book-on-site div button {
  margin: 2rem 1rem;
}

.browse-challenges {
  margin-bottom: 2rem;
}

footer {
  padding: 2rem 0 2.5rem 0;
}
footer h4 {
  margin: 1rem 0 0.5rem 1em;
}
footer p {
  margin-left: 1rem;
  margin-bottom: 2rem;
  font-size: 0.9em;
}
footer a {
  margin-left: 1rem;
  display: block;
  text-decoration: none;
  color: white;
}

@media only screen and (min-width: 768px) {
  .book-on-site {
    display: flex;
    margin-bottom: 0;
  }
  .book-on-site img {
    width: 50%;
    height: 100%;
  }
  .browse-challenges {
    display: flex;
    flex-direction: row-reverse;
  }
  .browse-challenges img {
    width: 50%;
    height: 100%;
  }
  footer {
    display: flex;
    justify-content: space-evenly;
  }
  footer .about-us--small {
    width: 50%;
    margin: 0 auto;
  }
  footer .about-us--small p {
    width: 80%;
  }
  footer .site-map, footer .social-media {
    width: 25%;
  }
}
